
<div class="container">
    <app-aircrafts-navbar></app-aircrafts-navbar>
    <ng-container *ngIf="aircraftsState$ | async as state" [ngSwitch]="state.dataState">
        <ng-container *ngSwitchCase="aircraftsStateEnum.INITIAL">
            <div class="p-2">Initial State</div>
        </ng-container>
    
        <ng-container *ngSwitchCase="aircraftsStateEnum.LOADING">
            <div class="p-2">LOADING</div>
        </ng-container>
    
        <ng-container *ngSwitchCase="aircraftsStateEnum.ERROR">
            <div class="p-2 text-danger">{{ state.errorMessage }}</div>
        </ng-container>
    
        <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
            <div class="p-2">LOADED</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Program</th>
                        <th>Design</th>
                        <th>Development</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr *ngFor="let aircraft of state.aircrafts">
                        <td> {{aircraft.id}}</td>
                        <td> {{aircraft.prog}}</td>
                        <td> {{aircraft.design}}</td>
                        <td> {{aircraft.development}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>

</div>
<br/><br/>
<div>
    <ng-container *ngIf="countAlertAircrafts$ | async as countAircfrats">
        <h5 class="text-danger"> Total AirCrafts Under Design & Dev : {{countAircfrats}} </h5>
    </ng-container>
</div>

<!--<div class="container" >
    <div class="col-md-5 rounded shadow p-4 my-3  ">
        <form #f="ngForm">
            <div class="title">
                <h5>Bonjour et bienvenue sur <b>Aircrafts.</b>Veuillez vous identifier pour avoir
                 accès aux Avions.</h5>
              </div>
              
            <div class="form-group p-1 mt-1">
                <label class="control-label">Login :</label>
                <input type="text" name="email" required class="form-control" >
            </div>
            <div class="form-group p-1 mt-1">
                <label class="control-label">Password :</label>
                <input type="password" name="password" required class="form-control" >
            </div>
            <button type="submit" [disabled]="!f.valid"
                class="btn btn-success mt-3 w-50 position-relative  start-50 translate-middle-x">Connection</button>
        </form>
    </div>
  </div>-->
