<app-aircrafts-navbar></app-aircrafts-navbar>

<ng-container *ngIf="aircraftsState$ | async as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="aircraftsStateEnum.INITIAL">
        <div class="p-2">Initial State</div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADING">
        <div class="p-2">LOADING</div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.ERROR">
        <div class="p-2 text-danger">{{ state.errorMessage }}</div>
    </ng-container>

    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Program</th>
                    <th>Design</th>
                    <th>Development</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let aircraft of state.aircrafts">
                    <td> {{aircraft.id}}</td>
                    <td> {{aircraft.prog}}</td>
                    <td> {{aircraft.design}}</td>
                    <td> {{aircraft.developpment}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</ng-container>