
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark p-3">
    <img  class="rotationImg" src="assets/img/avions.jpg" width="65" height="65" alt=""> 
    <div class="collapse navbar-collapse" id="mynavbar">
      <a class="navbar-brand p-3" href="#">AIRBUS</a>


      <!-- Links --> 
    
      <ul class="navbar-nav">
        <li class="nav-item ms-4">
          <a class="nav-link" routerLink="/aircrafts">AirCrafts</a>
        </li>
        <li class="nav-item-4">
          <a class="nav-link" routerLink="/aircrafts-alert">Alert</a>
        </li>
        <li class="nav-item ms-4">
          <a routerLink="/login" class="nav-link text-warning">Connexion</a>
      </li>
      <li class="nav-item ms-4">
          <a class="nav-link text-danger">Déconnexion</a>
      </li>
      </ul>
    </div>

  </nav>
  
<router-outlet>Salut Airbus</router-outlet>

<div class="container" >
    <div class="col-md-5 rounded shadow p-4 my-3  ">
        <form #f="ngForm">
            <div class="title">
                <h5>Bonjour et bienvenue sur <b>Aircrafts.</b>Veuillez vous identifier pour avoir
                 accès aux Avions.</h5>
              </div>
              
            <div class="form-group p-1 mt-1">
                <label class="control-label">Login :</label>
                <input type="text" name="email" required class="form-control" >
            </div>
            <div class="form-group p-1 mt-1">
                <label class="control-label">Password :</label>
                <input type="password" name="password" required class="form-control" >
            </div>
            <button type="submit" [disabled]="!f.valid"
                class="btn btn-success mt-3 w-50 position-relative  start-50 translate-middle-x">Connection</button>
        </form>
    </div>
  </div>



<div class="footer fixed-bottom">
  <footer>
    <p>&copy;FMS-EA Airbus&middot; App&middot; NgRx by <strong> GuillaumeP </strong> {{  dateDuJour | date: "{ dd MMMM yyyy }"  | uppercase }} !! </p>
  </footer>
</div>