
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark p-4">

    <a class="navbar-brand" href="#">AIRBUS</a>


    <!-- Links --> 
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/aircrafts">AirCrafts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Programs</a>
        </li>
      </ul>
    
      <ul class="navbar-nav ms-auto">
        <li>
            <form class="form-inline">
                   <input type="text"> 
                   <button type="submit" class="btn btn-outline-warning btn-ms2"> 
                   <i class="fa fa-search"></i>Search</button>
            </form>
        </li>
    </ul>
    </div>

  </nav>

<router-outlet>Salut Airbus</router-outlet>