.rotationImg {
    width: 130px;
    float: right;
    border-radius: 100%;
    /*border: crimson solid;*/
    clip-path:ellipse(53% 50%);

}

.rotationImg {
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;

}

/* Permet de définir les étapes qui composent la séquence d'une animation CSS. */
@keyframes spin {
    100% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
}

a {
    font-size: 22px;
    font-family: "Roboto", serif;
    font-style: normal;
    color: burlywood;
}

