
  <nav class="navbar navbar-expand-sm bg-success navbar-success p-3">
    <img  class="rotationImg" src="assets/img/avions.jpg" width="65" height="65" alt=""> 
    <div class="collapse navbar-collapse" id="mynavbar">
      <a class="navbar-brand p-3" href="#">AIRBUS</a>


      <!-- Links --> 
    
      <ul class="navbar-nav">
        <li class="nav-item ms-4">
          <a class="nav-link" routerLink="/aircrafts">AirCrafts</a>
        </li>
        <li class="nav-item-4">
          <a class="nav-link" routerLink="/aircrafts-alert">Alert</a>
        </li>
        <li class="nav-item ms-4">
          <a routerLink="/login" class="nav-link text-warning">Connexion</a>
      </li>
      <li class="nav-item ms-4">
          <a class="nav-link text-danger">Déconnexion</a>
      </li>
      </ul>
    </div>

  </nav>
  
<router-outlet>Salut Airbus</router-outlet>


<div class="footer fixed-bottom">
  <p>AIRBUS &middot; App &middot; NgRx</p>
  <footer>&copy;FMS-EA Academy by <b>GuillaumeP</b> {{  dateDuJour | date:'medium' }} </footer>
</div>