.search-container {
    padding-top: 20px;
    padding-bottom: 8px;
    border: solid black 2px;
    border-radius: 5px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,125,217,0.2413165949973739) 35%, rgba(0,212,255,1) 100%);
  }
  
  .search-plane {
    max-width: 500px;
    padding-bottom: 10px;
    margin:auto;
  }
  