<p>aircrafts-navbar works ! What a mess !</p>

<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li>
            <button class="btn btn-outline-info m-3 btn-sm" (click)="getAllAircrafts()">Aircrafts</button>    
            <button class="btn btn-outline-info m-3 btn-sm" (click)="getDesignAircrafts()">Design</button>
            <button class="btn btn-outline-info m-3 btn-sm" (click)="getDevelopementAircrafts()">Development</button>
        </li>
    </ul>  

    <ul class="navbar-nav ms-auto">

        <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        

    </ul>
</nav>   
